@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Signika+Negative:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
}



header {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
}

header>p {
    display: block;
}




main {
    margin: 50px 100px;
    width: 50%;
    float: left;
}

main div.user {
    margin-bottom: 50px;
    background-color: burlywood;
    padding: 20px;
}




main div.card {
    width: 350px;
    height: 500px;

    margin-bottom: 50px;
    padding: 20px;

    background-color: rgb(90, 12, 12);
    border-radius: 20px;
}

main div.card__wrapper {
    width: 100%;
    height: 100%;

    padding: 10px;

    background-color: burlywood;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card .card__name {
    font-size: 26px;
    font-family: 'Signika Negative', cursive;
}

.card__container p,
.card__container h2,
.card__slot {
    margin-top: 0px;
    margin-bottom: 0px;
}

.flex__container__vertical {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
}

.flex__container__horizontal {
    width: 100%;
    height: 50px;

    margin: 0px;
    padding: 10px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.card__gold,
.card__slot,
.card__isBig {
    margin: 0px;
    padding: 0px;
}